{{ define "partials/footer.gohtml" }}
    <footer class="footer" style="background-color: white">
        <div class="content has-text-centered">
            <p>
                This is a footer
            </p>
        </div>
    </footer>
{{ end }}